<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Update</title>
</head>
<body>
    <h1>Hello, <span th:text="${username}">Username</span></h1>

    <p>
        Your password has just been successfully changed!
    </p>

    <p>
        Access Game Hub at <a th:href="${frontEndURL}" target="_blank">this link</a>
    </p>

    <p>
        If you did not request this change, please contact our support team immediately
    </p>
</body>
</html>
